/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


.content {
    width: 970px;
    height: 540px;
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    background-color: #f6f6f6;
}
.content .section-title {
    width: 500px;
    height: 40px;
    margin: 0px;
    padding: 20px;
    text-align: left;;
}
.content .section-title h2,h3 {
    display: block;
    margin: 0px;
    padding: 0px;
}
.content .ex-item.ex2 {
    width: 200px;
    height: 120px;
    margin: 5px;
    padding: 0px;
    float: left;
}
.content .ex-item.ex2 span {
    display: block;
    position: relative;
    top: 20px;
    left: 5px;
    text-align: left;
    background: #ffffff;
    width: 15px;
    height: 20px;
    color: #191919;
    font-size: 14px;
}
.content .ex-item.ex2 img {
    border: 5px solid #ffffff;
    box-shadow: 2px 2px 4px #191919;
}
.content .ex-item.ex2.imgOdd {
    transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    -o-transform:rotate(5deg);
}
.content .ex-item.ex2.imgEven {
    transform:rotate(-5deg);
    -webkit-transform:rotate(-5deg);
    -moz-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
}
.content .ex-item {
    width: 220px;
    height: 200px;
    margin: 0px 20px 0px 20px;
    padding: 0px;
    float: left;
}
.content .ex-item p {
    display: block;
    width: 15px;
    height: 15px;
    margin: 0px;
    padding: 0px;

    position: relative;
    top: 145px;
    left: 30px;

    font-size: 12px;
    font-weight: bold;
}
.content .ex-item img {
    width: 200px;
    height: 120px;
    margin: 0px auto;
    padding: 0px;
}
.content .hint {
    clear: both;
}
.content .btn {
    position: relative;
    z-index: 10;
    top: 10px;
    right: 0px;
}
.content .btn.ex2 {
    position: relative;
    z-index: 10;
    top: 150px;
    right: 25px;
}
.content .hint .hint-content.ex2 {
    width: 750px;
    height: 100px;
    float: left;
    margin: 60px 0px 20px 100px;
    padding: 0px;
    text-align: center;
}
.content .hint .hint-content.ex2 div {
    width: 250px;
    height: 40px;
    float: left;
}
.content .hint .hint-content.ex2 input {
    width: 40px;
    float: left;
}
.content .hint .hint-content.ex2 p {
    width: 160px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    line-height: 40px;
    display: block;
    float: left;
}

.content .hint .hint-content.ex1 {
    width: 650px;
    height: 40px;
    float: left;
    margin: 0px 0px 0px 150px;
    padding: 0px;
    text-align: center;
    border: 1px solid #CDD9E1;
    background-color: rgba(230, 234, 238, 0.6);
}
.content .hint .hint-content p {
    display: block;
    width: 60px;
    height: 40px;
    float: left;
}
.content .hint .check {
    float: left;
    cursor: pointer;
}
h2 {
    font-family: Verdana;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: #4654AB;
}
h3 {
    font-family: Verdana;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: #333333;
}
form {
    width: 780px;
    margin: 0px auto;
    padding: 0px;
}

input {
    padding: 4px;
    margin: 4px;
    width: 100px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.validation .valid {
    background: url('../img/layout/u16_normal.png') no-repeat;
}

.validation .invalid {
    background: url('../img/layout/u58_normal.png') no-repeat;
}
.nav-banner {
    width: 970px;
    margin: 30px auto;
    padding: 0px;
    text-align: center;
    background-image: url('../img/layout/u87_normal.png');
    background-repeat: no-repeat;
    background-position: -135px 0px;
}
ul {
    list-style: none;
}
li {
    display: block;
    width: 36px;
    height: 36px;
    margin: 0px 20px;
}
li#arr-ex-1 {
    position: relative;
    z-index: 1;
    top: 0px;
    left: -10px;

}
li#arr-ex-2 {
    position: relative;
    z-index: 1;
    top: -36px;
    left: 50px;
}